.button {
  border: 1px solid #222;
  padding: 4px 12px;
  border-radius: 4px;
  color: #222;
  cursor: pointer;
  user-select: none;
}

.button:hover {
  background-color: #49f;
  transition-duration: 200ms;
}
