.editContent {
  width: 640px;
  margin: 0 auto;
  height: calc(100vh - 80px - 71px);
  overflow-y: scroll;
}

.subject {
  font-size: 36px;
  width: 100%;
}

.editor {
  margin-top: 24px;
  font-size: 24px;
}

.submitButton {
  margin-top: 24px;
}

.footer {
  width: 640px;
  margin: 8px auto;
  height: 55px;
}
