.header {
  display: flex;
  align-items: center;
  height: 80px;
}

.left {
  margin: 16px auto 16px 48px;
  display: flex;
  align-items: center;
}

.right {
  margin: 16px 48px 16px auto;
  display: flex;
  align-items: center;
}

.item + .item {
  margin-left: 24px;
}

.userIcon {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
