.contentContainer {
  width: 700px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 30px;
}

.subject {
  margin-top: 32px;
  font-size: 40px;
  line-height: 48px;
}

.userContainer {
  margin-top: 32px;
  display: flex;
}

.userId {
  font-size: 16px;
}

.userName {
  font-size: 16px;
  opacity: 0.5;
}

.content {
  margin-top: 32px;
}
