.contentContainer {
  width: 700px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 30px;
}

.subject {
  margin-top: 32px;
  font-size: 40px;
  line-height: 48px;
}

.userContainer {
  margin-top: 32px;
  display: flex;
  align-items: center;
}

.userText {
  margin-left: 12px;
}

.userIcon {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.userName {
  font-size: 16px;
  opacity: 0.5;
}

.content {
  margin-top: 32px;
}

.userId {
  font-size: 16px;
}

.publishedAt {
  font-size: 16px;
  opacity: 0.5;
}

.newContent {
  margin-left: 8px;
  color: #22c;
}
